.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 100%;
    border-radius: 0 0 4px 4px;
    height: 5%;
}

.logoSection p {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
  
.aliasForm {
    display: flex;
}
  
.aliasInput {
    padding: 5px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    outline: none;
    width: 100px;
}
  
.aliasButton {
    padding: 5px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    border-left: none;
    font-weight: bold;
    background: #007bff;
    color: white;
}
  
.aliasButton:hover {
    filter: brightness(90%);
}
  
.aliasDisplay {
    margin-left: 20px;
}

.header-buttons {
    display: flex;
    gap: 5px;
}

.header-button {
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-weight: bold;
    background: #fff;
}

.header-button:hover {
    filter: brightness(90%);
}
  